* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: oklch(50% 0.27 265);
  --primary-light: color-mix(in oklab, var(--primary), #fff 25%);
  --primary-dark: color-mix(in oklab, var(--primary), #000 25%);

  --secondary: #13183e;

  --accent: oklch(50% 0.17 265);

  --black: oklch(10% none none);
  --gray: oklch(50% none none);
  --light-gray: oklch(75% none none);

  --cta-bg: linear-gradient(180deg, #ff6f4b, #f329a6);
  --cta-bg-alternative: linear-gradient(180deg, #e530a6, #794dc4);
  --default-btn-bg: var(--accent);
}

body {
  line-height: max(1.6em, 1em + 1ex);
  color: var(--black);
  font-family: system-ui, sans-serif;
}

body > :is(header, main, footer) {
  padding-inline: max((100% - 1200px) / 2, 1rem);
}

[data-icon] {
  width: 2.5rem;
  height: 2.5rem;
  margin-top: -3.25rem;
  padding: 0.5rem;
  border-radius: 1e5px;
  background: var(--cta-bg);
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
video {
  width: 100%;
  height: auto;
  display: block;
}

:root {
  --primary: #e07a5f;
  --secondary: #3d405b;
  --tertiary: #81b29a;
  --quinary: #f2cc8f;
  --bgcolor: #f4f1de;
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  scroll-behavior: smooth;
  background-color: var(--bgcolor);
  font-family: inter;
}

main {
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
a,
ul,
button {
  font-size: clamp(1.2rem, 1.1769rem + 0.1026vw, 1.25rem);
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
p {
  cursor: default;
}

header h1 {
  cursor: pointer;
}

h1 {
  font-size: clamp(3rem, 2.5385rem + 2.0513vw, 4rem);
  color: var(--primary);
}
h2 {
  font-size: clamp(2.4rem, 2.1231rem + 1.2308vw, 3rem);
  color: var(--tertiary);
}
h3 {
  font-size: clamp(2.1rem, 1.9154rem + 0.8205vw, 2.5rem);
}
h4 {
  font-size: clamp(1.8rem, 1.7077rem + 0.4103vw, 2rem);
}
h5 {
  font-size: clamp(1.6rem, 1.5308rem + 0.3077vw, 1.75rem);
}

/* Header */

header {
  padding: 4rem 2rem 0 2rem;
  display: grid;
  grid-template-columns: 1fr auto;
  li {
    text-align: end;
    list-style: none;
    color: var(--tertiary);
    font-weight: 800;
    transition: 0.4s ease;
  }
  li:hover {
    scale: 1.1;
    color: var(--quinary);
    border: none;
  }
}

.logo {
  transition: 0.4s ease;
}
.logo:hover {
  transform: translateX(10px);
}

.logo span {
  display: inline-block;
  transform: scaleX(-1) translateX(-0.2rem);
  color: var(--secondary);
}

/* Index - Forside */

/* .seasons {
	padding: 4rem 2rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
} */

/* .kategorier {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
	grid-auto-rows: 3.5em;
	gap: 2rem 4rem;
	text-align: center;
	max-width: 1200px;
} */

.kategorier {
  cursor: default;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  a {
    color: var(--secondary);
    background-color: var(--bgcolor);
    border-radius: 10px;
    transition: 0.4s ease;
    border: 4px solid;
    padding: 0.5rem;
  }
}

.kategorier a:hover {
  scale: 1.05;
  background-color: var(--secondary);
  color: var(--primary);
  border: 6px solid var(--secondary);
}

/* Produktliste */

.produktliste {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  grid-auto-rows: min-content;
  gap: 2rem;
  h3 {
    font-size: clamp(1.2rem, 1rem + 0.3077vw, 1.75rem);
    padding-bottom: 7px;
  }
}

.produktkort {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 5; /* Sørger for, at kortene har ens højde */
  position: relative;
  color: var(--secondary);
  gap: 0;
  a {
    color: var(--primary);
  }
  img {
    position: relative;
    z-index: 10;
    transition: 0.4s ease;
  }
}

.normal:not(.soldOut),
.onSale:not(.soldOut) {
  img:hover {
    scale: 1.1;
  }
}

.sale {
  color: var(--primary);
}

.onSale .nulldiscount {
  display: none;
}
.normal .discounted {
  display: none;
}
.soldOut::before {
  content: "Not in stock";
  font-family: inter;
  position: absolute;
  background: var(--quinary);
  color: var(--secondary);
  padding: 1rem;
  border-radius: 0px 00px 10px 0px;
  z-index: 100;
}

.soldOut {
  img {
    opacity: 0.5;
  }
}

.gender-picker {
  cursor: default;
  display: flex;
  gap: 10px;
  margin-top: 0px;
  flex-wrap: wrap;
}

/* Produkt */
.size-picker {
  cursor: default;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  gap: 10px;
  margin-top: 0px;
}
.size-btn,
.gender-btn {
  color: var(--secondary);
  background-color: var(--bgcolor);
  border-radius: 10px;
  transition: 0.4s ease;
  border: 4px solid;
  padding: 0.5rem;
}

.size-btn.selected,
.gender-btn.selected {
  scale: 1.1;
  background-color: var(--secondary);
  color: var(--primary);
}

.kurv {
  margin-top: 5px;
  color: var(--secondary);
  background-color: var(--bgcolor);
  border-radius: 10px;
  transition: 0.3s ease;
  border: 4px solid;
  padding: 0.5rem;
  width: max-content;
}
.kurv:hover,
.size-btn:hover,
.gender-btn:hover {
  scale: 1.05;
  background-color: var(--secondary);
  color: var(--primary);
  border: 6px solid var(--secondary);
}

.produktinfo {
  display: grid;
  gap: 20px;
  h3 {
    margin-bottom: 5px;
  }
}

.produktdesc {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.produktdesc1 {
  display: grid;
  gap: 5px;
  :first-child {
    font-weight: 800;
  }
}

@media (min-width: 900px) {
  .produktinfo {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 50px;
  }
}

.produktdescgreen {
  color: var(--tertiary);
}

.produktdesccta {
  display: grid;
  gap: 6px;
}

.bold {
  font-weight: bold;
}
