---
import Layout from "../layout/layout.astro";

import { getCategories, getSubcategories, getSeasons } from "../utils/api.js";

export async function getStaticPaths() {
  const categories = await getCategories();
  const subcategories = await getSubcategories();
  const seasons = await getSeasons();

  return [
    { params: { filter: "categories" } },
    { params: { filter: "subcategories" } },
    { params: { filter: "seasons" } },
  ];
}

const filter = Astro.params.filter;
let items = [];
let title = "";

if (filter === "categories") {
  items = await getCategories();
  title = "Categories";
} else if (filter === "subcategories") {
  items = await getSubcategories();
  title = "Subcategories";
} else if (filter === "seasons") {
  items = await getSeasons();
  title = "Seasons";
}
---

<Layout titel="FashionRUs">
  <div class="katliste">
    <h2>{title}</h2>
    <section class="kategorier">
      {
        items.map((item) => {
          // Find den aktuelle værdi (category, subcategory eller season)
          const itemValue = item.category || item.subcategory || item.season;

          return <a href={`/listview/${filter}/${itemValue}`}>{itemValue}</a>;
        })
      }
    </section>
  </div>
</Layout>
