---
import Layout from "../layout/layout.astro";
import Card from "../components/Card.astro";

// Hent alle produkter
export async function getStaticPaths() {
  const fashionUrl = "https://kea-alt-del.dk/t7/api/products?limit=40";
  const products = await fetch(fashionUrl).then((res) => res.json());

  // Opret stier for hvert produkt
  return products.map((product) => ({
    params: { productId: product.id.toString() },
    props: { productId: product.id.toString() },
  }));
}

// Hent den specifikke produktId fra ruten
const { productId } = Astro.params;

// Hent det specifikke produkts data
const fashionUrl = `https://kea-alt-del.dk/t7/api/products/${productId}`;
const data = await fetch(fashionUrl).then((res) => res.json());
---

<Layout titel={data.productdisplayname}>
  <div class="produktinfo produktkort normal">
    <Card data={data} />
  </div>
</Layout>
