---
import Layout from "../layout/layout.astro";

import { getCategories } from "../utils/api.js";

const categories = await getCategories();
---

<Layout titel="FashionRUs">
  <div class="katliste">
    <h2>Categories</h2>
    <section class="kategorier">
      {
        categories.map((category) => (
          <a href={`/listview?filter=categories&item=${category.category}`}>
            {category.category}
          </a>
        ))
      }
    </section>
  </div>
</Layout>
