---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
import Card from "../components/Card.astro";
// Hent produktId fra URL'en (Astro håndterer det)
const { productId } = Astro.params;

// Hent data fra API'et
const fashionUrl = `https://kea-alt-del.dk/t7/api/products/${productId}`;
const data = await fetch(fashionUrl).then((res) => res.json());

console.log(data);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Øvelse: Componentize</title>
  </head>
  <body>
    <!-- Insæt Header her -->
    <Header />
    <main>
      <!-- Indsæt Hero her -->
      <Hero />

      <!-- Indsæt CardSection her (som indeholder Cards) -->
      div class="produktliste">
      <Card {data} />
    </main>
  </body>
  <!-- Indsæt Footer her -->
  <Footer />
</html>
