<header>
  <a class="logo" href="index.html"><h1>Fashion<span>R</span>Us</h1></a>
  <nav>
    <ul>
      <a href="index.html?menu=Categories"><li>Categories</li></a>
      <a href="index.html?menu=Subcategories"><li>Subcategories</li></a>
      <a href="index.html?menu=Seasons"><li>Seasons</li></a>
    </ul>
  </nav>
</header>
