<header>
  <a class="logo" href="/"><h1>Fashion<span>R</span>Us</h1></a>
  <nav>
    <ul>
      <li><a href="?menu=Categories">Categories</a></li>
      <li><a href="?menu=Subcategories">Subcategories</a></li>
      <li><a href="?menu=Seasons">Seasons</a></li>
    </ul>
  </nav>
</header>
