---
import Layout from "../../layout/layout.astro";
import Card from "../../components/Card.astro";
import { getProductById } from "../../utils/api.js";

// Hent parametre fra stien (ikke URL-query)
const { id } = Astro.params;

// Hent produktdata baseret på id
const data = await getProductById(id);
---

<Layout titel={data.productdisplayname}>
  <div class="produktinfo produktkort normal">
    <Card data={data} />
  </div>
</Layout>
